---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Setup & Tools of Trade"
  description="What I use."
  pubDate={new Date("Apr 29 2024")}
>
  <p>This changes every month.</p>

  <h3>Hardware</h3>
  <ul>
    <li>Macbook Pro M2 Max - 32GB Ram</li>
    <li>Monitor - PHL 275E2F</li>
    <li>Apple Magic Mouse</li>
    <li>Apple Airpods 2 Pro</li>
    <li>Keyboard - Akko Cinnamoroll 20th Anniversary</li>
    <li>Microphone - Elgato Wave:3</li>
  </ul>
  <h3>Software</h3>
  <ul>
    <li>Google Chrome - Tried Arc, but meh</li>
    <li>Apple Notes</li>
    <li>Apple Reminders</li>
    <li>VSCode (trying Zed on the side)</li>
    <li>Spark e-mail Client</li>
    <li>iTerm2 (waiting for <a href="https://mitchellh.com/ghostty">Ghostty</a>)</li>
    <li>TablePlus - DB Client</li>
		<li>Medis - Redis Client</li>
		<li>Postman</li>
  </ul>
</Layout>
